[Desktop Entry]
Encoding=UTF-8
Name=Enlazar a SQLite Tutorial - An Easy Way to Master SQLite Fast
Type=Link
URL=http://www.sqlitetutorial.net/
Icon=text-html
